@import url(https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,900);
:root {
    --prim_color: #807C7C;
    --sec_color: #EAEAEA;
    --card_width: 275px;
    --row_increment: 10px;
    --card_border_radius: 10px;
    --category_card: 17;
    --card_small: 25;
    --card_medium: 28;
    --card_featured: 33;
    --card_large: 36;
    --card_vertical_spacing: 25px;
}

body, html {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #dcdcdc;
    border-radius: 5px;
    z-index: 100;
}

::-webkit-scrollbar-thumb {
    background: #464646;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

* {
    font-family: Poppins, sans-serif;
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.blog-content {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.blog-main-image {
    margin-top: 75px;
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.blog-main-image img {
    width: 100%;
}

.blog-title {
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
}

.blog-desc {
    font-size: 25px;
    font-weight: 700;
}

.blog-text-content {
    text-align: left;
    width: 100%;
    margin-top: 50px;
    padding-bottom: 50px;
}

@media screen and (max-width:1025px) {
    .blog-image {
        border-radius: 10px 10px 0 0;
        display: block;
        width: inherit;
        overflow: hidden;
        width: 437px;
        height: 275px;
    }
}

@media screen and (max-width:920px) {
    .blog-image {
        border-radius: 10px 10px 0 0;
        display: block;
        width: inherit;
        overflow: hidden;
        width: 550px;
        height: 325px
    }
    .blog-content {
        width: 500px;
        margin-left: auto;
        margin-right: auto
    }
    .blog-title {
        font-size: 40px;
        font-weight: bolder;
        text-align: center
    }
    .blog-desc {
        font-size: 20px;
        font-weight: 700
    }
    .blog-main-image {
        position: relative;
        width: 100%;
        height: 250px;
        overflow: hidden;
    }
}

@media screen and (max-width:575px) {
    .blog-image {
        border-radius: 10px 10px 0 0;
        display: block;
        width: inherit;
        overflow: hidden;
        width: 350px;
        height: 225px
    }
    .blog-content {
        width: 330px;
        margin-left: auto;
        margin-right: auto
    }
    .blog-title {
        font-size: 40px;
        font-weight: bolder;
        text-align: center
    }
    .blog-desc {
        font-size: 20px;
        font-weight: 700
    }
    .blog-main-image {
        position: relative;
        width: 100%;
        height: 225px;
        overflow: hidden;
    }
}

.item-content {
    width: 90%;
    height: fit-content;
    min-height: 500px;
    display: flex;
    margin-top: 35px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}

.left-side {
    width: 50%;
}

.right-side {
    min-width: 40%;
    width: 50%;
}

.item-images {
    height: fit-content;
    width: fit-content;
    margin: auto;
    margin-top: 75px;
}

.item-text-content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    max-width: 80%;
}

.item-main-image {
    margin-top: 90px;
    width: 500px;
    height: 500px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 2.5px 2.5px 10px rgba(0, 0, 0, .301);
    text-align: center;
}

.item-main-image img {
    height: 100%;
}

.item-extra-images {
    margin-top: 10px;
}

.extra-image {
    display: flex;
    width: 375px;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

.extra-image a {
    margin: 5px;
    width: 75px;
    height: 75px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 2.5px 2.5px 10px rgba(0, 0, 0, .301);
    border-radius: 2.5px;
}

.extra-image a:hover {
    cursor: pointer;
}

.extra-image a img {
    height: 100%;
}

.item-page-upper-part {
    text-align: left;
}

.item-page-upper-part * {
    margin: 0;
}

.item-page-upper-part p {
    color: #4b4b4b;
    font-weight: bolder;
    font-size: 18px;
}

.item-page-upper-part h1 {
    font-size: 45px;
    font-weight: 900;
}

.item-page-description {
    margin-top: 50px;
}

.desc-title {
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: bolder;
}

.desc-content {
    margin: 0;
    padding: 0;
    margin-top: 10px;
    font-size: 21px;
}

.checkout {
    margin-top: 50px;
}

.goto-button {
    text-decoration: none;
    padding: 7.5px 10px 7.5px 10px;
    background-color: #000;
    color: #fff;
    font-size: 24px;
}

.socials {
    margin-top: 75px;
    width: fit-content;
    display: flex;
    margin-right: auto;
}

.socials a {
    width: 80px;
    height: 45px;
    font-size: 28px;
    color: #fff;
    text-align: center;
}

.socials a:hover {
    cursor: pointer;
}

@media screen and (max-width:1700px) {
    .item-image {
        border-radius: 10px 10px 0 0;
        display: block;
        width: inherit;
        overflow: hidden;
        width: 318px;
        height: 318px;
    }
}

@media screen and (max-width:1200px) {
    .item-image {
        border-radius: 10px 10px 0 0;
        display: block;
        width: inherit;
        overflow: hidden;
        width: 283px;
        height: 283px
    }
    .item-content {
        display: block;
        text-align: center;
    }
    .left-side {
        margin-left: auto;
        margin-right: auto
    }
    .item-main-image {
        width: 360px;
        height: 360px
    }
    .item-page-upper-part {
        text-align: center;
    }
    .extra-image {
        display: flex;
        width: 360px;
        justify-content: center;
        flex-wrap: wrap;
        margin: auto
    }
    .extra-image a {
        margin: 5px;
        width: 60px;
        height: 60px;
        overflow: hidden;
        border-radius: 2.5px
    }
    .right-side {
        margin-left: auto;
        margin-right: auto
    }
    .socials {
        margin-right: auto;
        margin-left: auto;
        gap: 15px;
    }
    .socials a {
        width: 70px;
        height: 35px;
        font-size: 24px;
        text-align: center;
        vertical-align: middle;
        color: #fff;
    }
    .desc-content {
        text-align: left;
    }
}

@media screen and (max-width:920px) {
    .item-image {
        border-radius: 10px 10px 0 0;
        display: block;
        width: inherit;
        overflow: hidden;
        width: 262px;
        height: 262px
    }
    .item-images {
        margin-top: 25px
    }
    .left-side {
        width: 100%
    }
    .right-side {
        width: 100%
    }
    .socials {
        display: flex;
    }
}

@media screen and (max-width:575px) {
    .item-image {
        border-radius: 10px 10px 0 0;
        display: block;
        width: inherit;
        overflow: hidden;
        width: 350px;
        height: 350px
    }
    .item-main-image {
        margin-top: 90px;
        width: 300px;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }
}

.item {
    padding: 0;
    margin: 15px 10px;
}

.item-image-container {
    width: 100%;
    height: 100%;
    background-color: #000;
    overflow: hidden;
    border-radius: var(--card_border_radius);
}

.item-image-container img {
    height: 100%;
    width: 275px;
}

.item-title {
    text-align: center;
    font-weight: 700;
    margin-top: 15px;
}

.item:hover>.savebutton {
    opacity: 1;
    z-index: 5;
}

.blog {
    border: none;
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: hsla(0, 0%, 91.8%, .45882);
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 100px;
}

.blog i {
    color: #333;
}