.nav-container {
    top: 0;
    width: 100%;
    height: 80px;
    display: block;
    align-items: center;
    z-index: 10
}

.nav-pc-container {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #fff;
    top: 0;
    z-index: 100;

    margin-left: auto;
    margin-right: auto;
}

.nav-logo img {
    height: 80px;
    width: 80px;
    margin-left: 45px
}

.cat_blog {
    display: flex;
    margin-left: 15px;
    margin-right: 15px
}

.nav_button {
    width: 55px;
    height: 55px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--sec_color);
    font-size: 32px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 100px
}

.fas {
    color: var(--prim_color)
}

.searchbar {
    display: flex;
    max-width: 100%;
    background-color: var(--sec_color);
    height: 55px;
    align-items: center;
    border-radius: 100px;
    min-width: 360px;
    width: 100%
}

.searchbar button{
    background-color: transparent;
    border: none;
}

.searchbar .searchbutton {
    width: 55px;
    text-align: center;
    font-size: 26px
}

.searchbar input {
    height: 100%;
    border: none;
    width: 90%;
    max-width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    font-size: 24px
}

.searchbar input:focus {
    outline: 0
}

.saved_button .nav_button {
    margin-left: 20px
}

.authbuttons {
    display: flex;
    gap: 10px
}

.authbutton {
    width: 150px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    text-decoration: none;
    border-radius: 100px;
    font-weight: 700
}

.signin {
    color: var(--prim_color);
    background-color: var(--sec_color)
}

.signup {
    color: #fff;
    background: #ffbfc1;
    background: linear-gradient(248deg, rgba(255, 191, 193, 1) 0, rgba(226, 140, 219, 1) 100%);
    margin-right: 45px
}

.pc-nav {
    display: flex
}

.mobile-nav {
    display: none;
    background-color: #fff;
}

.mobile-collapse-nav {
    display: none;
    top: 0px;
    z-index: 90;
    margin-left: auto;
    margin-right: auto;
}

.navcontainer{
    background-color: white;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 99;
}

.mobile-main-links {
    display: block;
    text-align: left;
    margin-left: 10px;
    font-size: 26px;
    padding-bottom: 10px
}

.mobile-main-links a {
    color: var(--prim_color);
    font-weight: 700;
    text-decoration: none
}

.auth-user-section {
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px
}

.auth-user-section a {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    background-color: var(--sec_color);
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 100px;
    font-size: 26px;
    font-weight: 700
}

.auth {
    width: 360px;
    max-width: 360px;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center
}

.auth-title {
    font-size: 48px;
    font-weight: 700
}

.footer {
    margin-top: 150px;
    position: relative;
    height: fit-content;
    padding-bottom: 10px;
    padding-top: 1px;
    width: 100%;
    background-color: #000;
    bottom: 0;
    color: #fff
}

.footer-container {
    width: 100%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px
}

.footer-table table {
    width: 85%;
    margin-left: auto;
    margin-right: auto
}

.footer-table table tr th {
    min-width: 25%;
    text-align: left;
    font-size: 21px
}

.social-flex {
    display: flex;
    gap: 10px
}

.footer-table table tr td i {
    font-size: 21px
}

.footer-table table tr td a {
    color: #fff;
    text-decoration: none
}

.footer-credits {
    display: flex;
    width: 85%;
    margin-top: 25px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto
}

.copyright {
    float: left;
    font-weight: 700
}

.credits {
    margin-left: auto;
    margin-right: 0;
    font-weight: 700
}

.credits p a {
    color: #fff
}

@media screen and (max-width:1200px) {
    .container {
        width: 100%
    }
    .main-content {
        margin-top: 100px
    }
    .pc-nav {
        display: none;
        margin-left: auto;
        margin-right: auto;
    }
    .nav-pc-container {
        width: 90%;
        margin-left: auto;
    }
    .mobile-nav {
        display: block;
        width: 90%;
        margin-left: auto;
        margin-right: auto
    }
    .nav-container {
        height: fit-content;
        background-color: #fff;
        margin-left: auto;
        margin-right: auto
    }
    .searchbar {
        min-width: 150px
    }
    .cat_blog {
        margin: 0
    }
    .nav-logo a img {
        height: 60px;
        width: 60px;
        margin: 0
    }
    .nav_button a {
        font-size: 26px
    }
    .nav_button {
        width: 50px;
        height: 50px
    }
    .searchbar {
        height: 50px
    }
    .searchbar input {
        font-size: 16px
    }
    .authbutton {
        margin-left: 0;
        height: 50px;
        font-size: 26px
    }
    .footer-table table tr th {
        font-size: 16px
    }
    .auth {
        width: 90%;
        height: fit-content;
        position: relative;
        text-align: center
    }
}

.pinterest i{
    padding-top: 10px;
    width: 80px;
    height: 35px;
    background-color: #C8232C;
}

.twitter i{
    padding-top: 10px;
    width: 80px;
    height: 35px;
    background-color: #1DA1F2;
}

.facebook i{
    padding-top: 10px;
    width: 80px;
    height: 35px;
    background-color: #3B5998;
}

.blog{
    z-index: 10;
}

/* SIGNIN */
.auth-user-section {
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px
}

.auth-user-section a {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    background-color: var(--sec_color);
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 100px;
    font-size: 26px;
    font-weight: 700
}

.auth {
    width: 360px;
    max-width: 360px;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center
}

.auth-title {
    font-size: 48px;
    font-weight: 700
}

.input-with-icon {
    width: 100%;
    background-color: #f8f8f8;
    display: flex;
    height: 50px;
    border-radius: 100px;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px
}

.input-with-icon i {
    height: 50px;
    width: 50px;
    font-size: 21px;
    margin-top: 13.5px;
    margin-left: 15px
}

.input-with-icon input:focus {
    outline: 0
}

.input-with-icon input {
    width: 100%;
    border: none;
    font-size: 21px;
    background-color: #f8f8f8;
    margin-left: 10px;
    border-radius: 0 100px 100px 0;
    margin-right: 10px
}

.auth-message {
    margin-top: 10px;
    margin-bottom: 10px;
    color: red
}

label{
    margin-right: 10px;
}

.auth-action-button button {
    color: #fff;
    background: #ffbfc1;
    background: linear-gradient(248deg, rgba(255, 191, 193, 1) 0, rgba(226, 140, 219, 1) 100%);
    text-align: center;
    border: none;
    border-radius: 100px;
    font-size: 28px;
    font-weight: bolder;
    width: 100%;
    margin-right: 45px;
    margin-bottom: 20px
}

.already-have-account p a {
    color: #50abff
}